name: Test Pytest Simple

on:
  workflow_dispatch:

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  test-simple:
    name: Simple Test (v1)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Run action
        id: coverage
        uses: MishaKav/pytest-coverage-comment@v1
        with:
          pytest-xml-coverage-path: ./data/coverage_1.xml
          junitxml-path: ./data/pytest_1.xml
          hide-comment: true

      - name: Show output
        run: |
          echo "Coverage: ${{ steps.coverage.outputs.coverage }}"
          echo "Color: ${{ steps.coverage.outputs.color }}"
